*{
    color: black;
    text-decoration: none;
}
a{
    -webkit-tap-highlight-color: transparent;
}
img, a{
    -webkit-touch-callout: none;
}


.front-page-space{
    width: 100%;
    height: 22.5vw;
}
.tbg{
    background-color: #fff;
    width: 100%;
    height: 22.5vw;
    position: fixed;
    top: 0;
    left: 0;
}
.front-page{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.front-page .top{
    width: 90%;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.front-page .top ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.front-page-space .front-page .order ul{
    display: flex;
    width: 80%;
    margin: 0 auto;
    border: 1px gray solid;
    border-radius: 20px/20px;
}
.front-page-space .front-page .order ul a{
    width: 25%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 20px/20px;
}


.content{
    width: 90%;
    margin: 10px auto;
    font-size: 18px;
}
.content .intro{
    display: flex;
    align-items: center;
}
.content .intro .head-photo{
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    border: 1px gray solid;
    overflow: hidden;
}
.content .intro img{
    width: 100%;
}
.content .intro .name{
    margin-left: 2%;
}
.content .paragraph{
    margin: 2% 0;
    text-align: justify;
}
.content .pic{
    display: flex;
    justify-content: space-around;
}
.content .pic a{
    box-sizing: border-box;
    display: block;
    width: 49%;
    height: 43vw;
    overflow: hidden;
    border: 1px gray solid;
    border-radius: 30px/30px;
}
.content .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .tag ul{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.content .tag ul li{
    font-size: 12px;
    padding: 5px;
    border: 1px gray solid;
    border-radius: 10px/10px;
}
.content .interact ul{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}


.bottom{
    width: 90%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    position: fixed;
    bottom: 0px;
    left: 5%;
    display: flex;
    justify-content: space-around;
}
.bottom-space{
    width: 100%;
    height: 50px;
}
.bbg{
    background-color: #fff;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
}